[Desktop Entry]
Comment=The cups-lpd mini daemon enable cups accepting jobs from a remote LPD client
Comment[ru]=Печать через CUPS заданий от удаленных LPD-клиентов
