[Desktop Entry]
Name=Service packets (ICMPv6)
X-Alterator-Port=icmpv6:
Name[ru]=Служебные пакеты (ICMPv6)
Name[pt_BR]=Pacote de Serviços (ICMPv6)
Name[es]=Servicio de Paquetes
Name[uk]=Службові пакети (ICMPv6)
