[Desktop Entry]
Comment=Listen and dispatch ACPI events from the kernel
Comment[ru]=Управление событиями ACPI
Comment[pt_BR]=Ouça e expedição eventos ACPI do kernel
