[Desktop Entry]
Comment=Alterator specific httpd
Comment[ru]=Сервер HTTP, обслуживающий систему управления Alterator
Comment[pt_BR]=Alterator httpd específicas
