[Desktop Entry]
Comment=The arpwatch daemon attempts to keep track of ethernet/ip address pairings
Comment[ru]=Служба отслеживания назначения IP-адресов
