[Desktop Entry]
Comment=This package loads console powersaver configuration.
Comment[ru]=Управление энергосбережением для консоли
Comment[pt_BR]=Isso carrega o pacote console PowerSaver configuração.
