[Desktop Entry]
Comment=The Common UNIX Printing System (CUPS), an advanced printer spooling system which allows setting of printer options and automatic availability of a printer configured on one server in the whole network.
Comment[ru]=Общая система печати UNIX (CUPS) — система печати с поддержкой очередей для нескольких принтеров, доступных в сети.
Comment[pt_BR]=O Common UNIX Printing System (CUPS), uma impressora spooling avançado sistema que permite a configuração de opções de impressora e disponibilização automática de uma impressora configurada em um servidor em toda a rede.
