[Desktop Entry]
Comment=The Internet Software Consortium DHCP Server, dhcpd, implements he Dynamic Host Configuration Protocol (DHCP) and the Internet Bootstrap Protocol (BOOTP).  DHCP allows hosts on a TCP/IP network to request and be assigned IP addresses, and also to discover information about the network to which they are attached.  BOOTP provides similar functionality, with certain restrictions.
Comment[ru]=Сервер DHCP от Internet Software Consortium реализует протоколы динамической настройки узлов (DHCP) и загрузки Интернет (BOOTP). DHCP позволяет узлам сети TCP/IP запросить и назначить IP-адреса, а также получить информацию о сети, к которой подключен компьютер. BOOTP предлагает такие же возможности, что и DHCP, но с некоторыми ограничениями.
Comment[pt_BR]=A Internet Software Consortium DHCP Server, dhcpd, ele implementa Dynamic Host Configuration Protocol (DHCP) e da Internet Bootstrap Protocol (BOOTP). DHCP permite que os hosts de uma rede TCP / IP para solicitar e atribuir endereços IP, e também para descobrir informações sobre a rede à qual estão ligados. BOOTP fornece funcionalidade semelhante, com algumas restrições.
