[Desktop Entry]
Comment=This startup script launches the graphical display manager
Comment[ru]=Запуск графического экрана входа в систему
Comment[pt_BR]=Este script de inicialização abre o gerenciador de display gráfico
