[Desktop Entry]
Comment=Tunes Ethernet cards if needed.
Comment[ru]=Настройка параметров сетевых карт Ethernet
Comment[pt_BR]=Tunes placas Ethernet, se necessário.
