[Desktop Entry]
Comment=NFS-related daemon that manages RPCSEC GSS contexts
Comment[ru]=Служба управления контекстами RPCSEC GSS для NFS
Comment[pt_BR]=NFS-daemon que gerencia contextos relacionados RPCSEC GSS
