[Desktop Entry]
Comment=Apache is a World Wide Web server.  It is used to serve HTML files and CGI.
Comment[ru]=Apache — сервер сети WWW. Он предназначен для обслуживания файлов HTML и запросов CGI.
Comment[pt_BR]=O Apache é um servidor World Wide Web. Ele é usado para servir arquivos HTML e CGI.
