[Desktop Entry]
Comment=Automates a packet filtering firewall with iptables
Comment[ru]=Брандмауэр с мощной системой фильтрации сетевых пакетов
Comment[pt_BR]=Automatiza uma filtragem de pacotes firewall com iptables
