[Desktop Entry]
Comment=This is a daemon for managing guest instances
Comment[ru]=Служба управления интерфейсами к запущенным вирутальным машинам OpenVZ
