[Desktop Entry]
Comment=sensors is used for monitoring motherboard sensor values.
Comment[ru]=Служба мониторинга температурных датчиков.
Comment[pt_BR]=sensores é utilizado para o acompanhamento valores dos sensores da motherboard.
