[Desktop Entry]
Comment=Software RAID monitoring and management
Comment[ru]=Служба мониторинга и управления программными RAID
Comment[pt_BR]=RAID software de monitorização e gestão
