[Desktop Entry]
Comment=The start/stop script for MySQL - very fast and reliable SQL database engine.
Comment[ru]=Сервер баз данных MySQL.
Comment[pt_BR]=O start / stop script para o MySQL - muito rápido e de banco de dados confiável do SQL.
