[Desktop Entry]
Comment=Mounts and unmounts all NFS, SMB, CIFS and NCP mount points.
Comment[ru]=Служба подключения сетевых ресурсов NFS, SMB, CIFS и NCP.
Comment[pt_BR]=Monta e desmonta todos os NFS, SMB, CIFS e NCP pontos de montagem.
