[Desktop Entry]
Comment=/etc/net is network configuration software
Comment[ru]=Служба настройки сети Etcnet
Comment[pt_BR]=/etc/net é um software de configuração de rede
