[Desktop Entry]
Comment=ntpd is a time synchronization daemon
Comment[ru]=Сервер синхронизации времени
Comment[pt_BR]=ntpd é um servidor de sincronização de tempo
