[Desktop Entry]
Comment=LDAP stands for Lightweight Directory Access Protocol, used for implementing the industry standard directory services.
Comment[ru]=Сервер службы каталогов LDAP.
Comment[pt_BR]= LDAP significa Lightweight Directory Access Protocol, usado para implementar a indústria de serviços de diretório padrão.
