[Desktop Entry]
Comment=Self Monitoring and Reporting Technology (S.M.A.R.T.) Daemon monitors the reliability of ATA and SCSI hard drives
Comment[ru]=Служба отслеживания состояния жёстких дисков S.M.A.R.T.
