[Desktop Entry]
Comment=System startup script for console splash screens
Comment[ru]=Экран заставки для консоли
Comment[pt_BR]=System script de arranque para a consola telas splash
