[Desktop Entry]
Comment=multi-line description of the service.
Comment[ru]=Поддержка многострочных описаний системных служб.
Comment[pt_BR]=multi-linha descrição do serviço.
