[Desktop Entry]
Comment=manage user-space device nodes in /dev
Comment[ru]=Управление устройствами в /dev
Comment[pt_BR]=usuário gerenciar os nós de dispositivo espaço em /dev
