[Desktop Entry]
Comment=Updates Window Manager Sessions.
Comment[ru]=Обновление списка сеансов оконных менеджеров.
Comment[pt_BR]=Atualizações Window Manager Sessions.
