[Desktop Entry]
Comment=The UPS information server
Comment[ru]=Сервер информации от источников бесперебойного питания
Comment[pt_BR]=As informações do servidor UPS
