[Desktop Entry]
Comment=The UPS monitor and shutdown controller
Comment[ru]=Служба мониторинга источников бесперебойного питания и управления выключением компьютера
Comment[pt_BR]=O monitor de UPS e desligamento do controlador
