[Desktop Entry]
Name=Service packets (ICMP)
X-Alterator-Port=icmp:
Name[ru]=Служебные пакеты (ICMP)
Name[pt_BR]=Pacote de Serviços (ICMP)
Name[es]=Servicio de Paquetes
Name[uk]=Службові пакети (ICMP)
