[Desktop Entry]
Name=Proxy server
X-Alterator-Port=tcp:3128
Name[ru]=Прокси-сервер
Name[pt_BR]=Servidor Proxy
Name[es]=Servidor Proxy
Name[uk]=Proxy сервер
